---
import MapPin from "@/assets/map-pin.svg";
import Star2 from "../icons/Star2.astro";

const { date, time, location, name, link, category } = Astro.props;
---

<div>
  <a
    class="group col-span-1 h-full flex flex-col items-start justify-between gap-2 text-left px-8 py-5 bg-white dark:bg-(--gray-900) rounded-sm"
    href={link}
  >
    <div class="w-full flex justify-between items-center">
      <p class="uppercase text-gray-500 dark:text-gray-400 text-base font-subtext font-semibold">
        {date} • {time}
      </p>
      <Star2 class="w-4 h-4 text-yellow dark:text-yellow group-hover:animate-idle-icon group-hover:text-purple-700 dark:group-hover:text-purple-400 group-hover:scale-115 group-hover:-rotate-90 transition-transform" />
    </div>
    <h3 class="text-xl font-mono font-black">
      {name}
    </h3>
    <div class="w-full flex  justify-between items-center gap-1">
      <div class="flex gap-2 text-gray-500 dark:text-gray-400 text-base font-subtext font-semibold">
        <MapPin class="w-4" /> 
        <div class="line-clamp-1">{location}</div>
      </div>
      {category && (
        <div class="min-w-fit px-0.5 bg-gray-600 text-white uppercase text-[11px] font-mono">
          {category}
        </div>
      )}
    </div>
  </a>
</div>
