---
import Layout from "@/layouts/Layout.astro";
import HomeLayout from "@/layouts/HomeLayout.astro";
import SemesterEvents from "@/components/SemesterEvents";

import {
  getSemestersNewestFirst,
  getSemesterDateRange
} from "@/utilities/helpers";
import type { EventType, PayloadResponse } from "@/types";

export async function getStaticPaths() {
    // Get all valid semesters for path generation
    const allSemesters = getSemestersNewestFirst();

    return allSemesters.map((semester) => {
        return {
            params: { 
                semester: `${semester.season}-${semester.year}`
            },
            props: {
                semester,
            },
        };
    });
}
const { semester } = Astro.props;

// Get semester date range
const { start, end } = getSemesterDateRange(semester);

// Fetch events in given semester
const params = new URLSearchParams();
params.set("sort", "-start");
params.set("where[start][greater_than]", start.toISOString());
params.set("where[start][less_than]", end < new Date() ? end.toISOString() : new Date().toISOString()); // only show past events
params.set("limit", "100");

const apiUrl = new URL('/api/events', Astro.url);
const res = await fetch(`${apiUrl}?${params.toString()}`);
const data: PayloadResponse<EventType> = await res.json();
const events: EventType[] = data.docs;
---

<Layout>
    <HomeLayout>
        <div
            id="past-events"
            class="lg:container flex flex-col mb-14 sm:pt-14 px-4 sm:px-12 md:px-18 xl:px-28 text-left gap-y-4 lg:max-w-screen-2xl mx-auto"
        >
            <div class="flex flex-wrap items-end justify-between gap-4">
                 <h3 class="hidden text-base sm:text-2xl font-normal leading-none p-0 m-0 uppercase font-pixel">
                    {semester.season} {semester.year}
                </h3>
            </div>

            <SemesterEvents client:load initialEvents={events} semester={semester} />
        </div>
    </HomeLayout>
</Layout>