---
export const prerender = false;

import { format } from "date-fns";
import { getLocalizedEventTimes } from "@/utilities/helpers";

import Layout from "@/layouts/Layout.astro";
import SlugLayout from "@/layouts/SlugLayout.astro";
import Stat from "@/components/past-events/Stat.astro";
import Image from "@/components/Image";
import MapPin from "@/assets/map-pin.svg";
import Gallery from "@/components/past-events/Gallery.astro";
import Description from "@/components/past-events/Description.astro";
import Rsvp from "@/components/Rsvp";

import type { EventType, PayloadResponse } from "@/types";
import { CMS_URL } from "@/utilities/constants";
import type { SerializedEditorState } from '@payloadcms/richtext-lexical/lexical';
import { convertLexicalToHTMLAsync } from '@payloadcms/richtext-lexical/html-async';

let { cat, slug } = Astro.params;

// Fetch event dynamically from CMS
if (cat == "workshops") cat = "workshop";
if (cat == "callouts") cat = "callout";
let res = await fetch(`${CMS_URL}/api/events?where[eventType][contains]=${cat?.toLowerCase()}&where[slug][equals]=${slug}`, {
  headers: {
    Authorization: `service-accounts API-Key ${import.meta.env.PAYLOAD_API_KEY}`,
  },
});
const data: PayloadResponse<EventType> = await res.json();
const event = data.docs[0];
if (!event) {
  // No matching event found
  return Astro.redirect('/404');
}

// Convert rich text once during build
const descriptionHTML = await convertLexicalToHTMLAsync({
  data: event.description as SerializedEditorState,
});

const isUpcoming = new Date(event.start) > new Date();
const image = event.images?.[0]?.image?.thumbnailURL ?? event.images?.[0]?.image?.url ?? null;

const {
    localizedStart,
    localizedStartTime,
    localizedEndTime,
} = getLocalizedEventTimes(event);
---
<Layout>
  <SlugLayout>
    <div
      class="w-full h-full min-h-screen overflow-clip flex flex-col md:flex-row items-stretch justify-center font-name border-b-2 bg-body-light dark:bg-body-dark bg-grid [--grid-size:100px] [--grid-color:rgba(0,0,0,0.5)] dark:[--grid-color:rgba(255,255,255,0.5)]"
    >
      {/* Event header */}
      <div
        class="w-full md:w-1/2 flex-1 bg-body-light dark:bg-body-dark border-r-1 border-black dark:border-white px-5 md:px-10 lg:px-20 pt-8 md:pt-0 pb-6 md:pb-0 text-center border-b-2 md:border-b-0"
      >
        <div class="sticky top-6 mt-6 md:h-screen flex flex-row md:flex-col gap-6 2xl:gap-8 items-start justify-center">
          <Image client:load
            src={image}
            alt={`${event.name} thumbnail`}
            className="hidden md:flex w-32 2xl:w-46 h-32 2xl:h-46 rounded-lg"
          />
          <div class="flex flex-col gap-2 md:gap-4 2xl:gap-6">
            <h1 class="text-black dark:text-white font-pixel uppercase text-left text-4xl md:text-[2.75rem] lg:text-5xl 2xl:text-7xl font-normal">
              {event.name}
            </h1>
            <div class="text-base md:text-lg 2xl:text-2xl font-subtext font-normal">
              <div class="flex flex-col gap-1 md:gap-2 2xl:gap-4 items-start justify-center">
                <div class="flex gap-4 items-center justify-center">
                  {/* Calendar icon */}
                  <div class="w-8 md:w-10 2xl:w-12 h-8 md:h-10 2xl:h-12 border-2 border-black font-pixel uppercase text-black dark:text-white dark:border-white flex flex-col items-center justify-center">
                    <div class="w-full py-0.5 text-[0.6rem] 2xl:text-sm leading-none bg-black dark:bg-white text-white dark:text-black">{format(localizedStart, "MMM")}</div>
                    <div class="grow text-base md:text-xl 2xl:text-2xl leading-none flex items-center justify-center">{format(localizedStart, "d")}</div>
                  </div>
                  {/* Full date time */}
                  <div class="flex flex-col gap-1 items-start justify-center dark:text-gray-200">
                    <div class="font-semibold min-w-fit text-left leading-none">
                      {format(localizedStart, "EEEE, MMMM do, yyyy")} 
                    </div>
                    <div class="text-base 2xl:text-lg leading-none">
                      {localizedStartTime} — {localizedEndTime} ET
                    </div>
                  </div>
                </div>
                {
                  event.location_name && (
                    <div class="flex gap-4 items-center justify-center font-bold dark:text-gray-200">
                      <div class="w-8 md:w-10 2xl:w-12 h-8 md:h-10 2xl:h-12 border-2 border-black font-pixel uppercase text-black dark:text-white dark:border-white flex flex-col items-center justify-center">
                        <MapPin class="w-5 2xl:w-6" />
                      </div>
                      <div>
                        {event.location_url ? (
                          <a
                            href={event.location_url}
                            target="_blank"
                            class="font-semibold hover:text-purple-500 dark:hover:text-yellow"
                          >
                            {event.location_name}
                          </a>
                        ) : (
                          <>{event.location_name}</>
                        )}
                      </div>
                    </div>
                  )
                }
              </div>
            </div>
          </div>
        </div>
      </div>

      {/* Event description body */}
      <div class="w-full md:w-1/2 flex flex-col items-center justify-center md:mt-10 py-6 md:py-12 px-4 md:px-10 lg:px-20 mb-auto">
        <div class="flex flex-col md:items-start gap-2 md:gap-4 items-center">
          {
              event.stats && event.stats.length > 0 && (
                  <div class="w-full max-h-fit flex flex-row flex-1 items-start justify-center gap-4 md:gap-8 p-6 md:px-8 md:py-4 bg-white dark:bg-black text-black dark:text-white border-2 border-black dark:border-amber-400 text-center">
                    {event.stats.map((stat) => (
                        <Stat data={stat.data} label={stat.label} />
                    ))}
                  </div>
              )
          }

          <div class="bg-zinc-900 dark:bg-(--gray-900) dark:border-1 dark:border-zinc-700 text-white border-2 p-4 sm:p-6 sm:mt-0">
            <p class="text-yellow dark:text-purple-700 font-display uppercase text-sm mb-4">--details--</p>
            <Description>
              <div set:html={descriptionHTML} />
            </Description>
          </div>

          {isUpcoming && <Rsvp client:load eventId={event.id} />}

          {event.images && event.images.length > 0 && (
            <Gallery
              images={event.images.map((img) => ({
                url: img.image.url,
                alt: img.image?.alt ?? event.name,
              }))}
            />
          )}
        </div>
      </div>
    </div>
  </SlugLayout>
</Layout>
