---
export const prerender = false;

import type { EventType, PayloadResponse } from "@/types";
import SemesterEvents from "@/components/SemesterEvents";
import { getSemesterFromDate } from "@/utilities/helpers";
import { CMS_URL } from "@/utilities/constants";

const params = new URLSearchParams();
params.set("sort", "start");
params.set("where[start][greater_than]", new Date().toISOString());
params.set("where[published][equals]", "true");

//const apiUrl = new URL('/api/events', Astro.url);
//const res = await fetch(`${apiUrl}?sort=start&where[start][greater_than]=${new Date().toISOString()}`);

const baseUrl = `${CMS_URL}/api/events?${params.toString()}`;
console.log("baseurl in currentevents: ", baseUrl)
const res = await fetch(baseUrl, {
    headers: {
        Authorization: `service-accounts API-Key ${import.meta.env.PAYLOAD_API_KEY}`,
    },
    cache: 'no-store',
});

const data: PayloadResponse<EventType> = await res.json();
const events: EventType[] = data.docs;

const currentSemester = getSemesterFromDate(new Date());
---

<div
    class="lg:container mb-0 pt-6 sm:pt-14 px-4 sm:px-12 md:px-18 xl:px-28 text-left lg:max-w-screen-2xl mx-auto"
>
    <h2 class="sm:mb-4 text-3xl sm:text-4xl font-mono font-black m-0">Upcoming</h2>
    <SemesterEvents client:load initialEvents={events} semester={currentSemester} currentSemester />
</div>